* {
  all: unset;
}

// Catppuccin Frappe Palette
$rosewater: #f2d5cf;
$flamingo:  #eebebe;
$pink:      #f4b8e4;
$mauve:     #ca9ee6;
$red:       #e78284;
$maroon:    #ea999c;
$peach:     #ef9f76;
$yellow:    #e5c890;
$green:     #a6d189;
$teal:      #81c8be;
$sky:       #99d1db;
$sapphire:  #85c1dc;
$blue:      #8caaee;
$lavender:  #babbf1;

$text:      #c6d0f5;
$subtext1:  #b5bfe2;
$subtext0:  #a5adce;
$overlay2:  #949cbb;
$overlay1:  #838ba7;
$overlay0:  #737994;
$surface2:  #626880;
$surface1:  #51576d;
$surface0:  #414559;

$base:      #303446;
$mantle:    #292c3c;
$crust:     #232634;


.dashboard {
  background-color: $base;
  // margin: 0px 12px 0px 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: $text;
  font-weight: bold;
  font-family: FiraCode Nerd Font;
  font-size: 48px;
  border: 2px solid $peach;
  border-radius: 8px;
  border-style: solid;
}

.dash-box {
  padding-right: 32px;
  padding-left: 32px;
}

.shutdown {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
  padding: 4px;
  padding-right: 16px;
  background-color: $base;
  color: $red;
}

.shutdown:hover {
  background-color: $red;
  color: $base;
}

.reboot {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
  padding: 4px;
  padding-right: 16px;
  background-color: $base;
  color: $maroon;
}

.reboot:hover {
  background-color: $maroon;
  color: $base;
}

.lock {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
  padding: 4px;
  padding-right: 6px;
  background-color: $base;
  color: $peach;
}

.lock:hover {
  background-color: $peach;
  color: $base;
}

.logout {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
  padding: 4px;
  padding-right: 16px;
  background-color: $base;
  color: $yellow;
}

.logout:hover {
  background-color: $yellow;
  color: $base;
}
